// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku




#define MIRYOKU_KLUDGE_TOPROWCOMBOS_TERM 50
#define MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(LAYER, POSITION, BINDING) \
toprowcombos_ ## LAYER ## _ ## POSITION { \
  layers = <LAYER>; \
  key-positions = <MIRYOKU_KLUDGE_TOPROWCOMBOS_ ## POSITION>; \
  bindings = <BINDING>; \
  timeout-ms = <MIRYOKU_KLUDGE_TOPROWCOMBOS_TERM>; \
};
#define ACCENTED_KEY(NAME, LABEL_U, LABEL_L, LABEL, KEY, DEAD_KEY) \
  ac_##NAME##_l: ac_##NAME##_l { \
      wait-ms = <0>; \
      tap-ms = <0>; \
      label = LABEL_L; \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      bindings \
          = <&macro_press &kp LALT> \
          , <&macro_tap &kp DEAD_KEY> \
          , <&macro_release &kp LALT> \
          , <&macro_tap &kp KEY> \
          ; \
  }; \
  ac_##NAME##_u: ac_##NAME##_u { \
      wait-ms = <0>; \
      tap-ms = <0>; \
      label = LABEL_U; \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      bindings \
          = <&macro_release &kp LSHFT> \
          , <&macro_press &kp LALT> \
          , <&macro_tap &kp DEAD_KEY> \
          , <&macro_release &kp LALT> \
          , <&macro_press &kp LSHFT> \
          , <&macro_tap &kp KEY> \
          , <&macro_release &kp LSHFT> \
          ; \
  }; \
  ac_##NAME: ac_##NAME { \
      label = LABEL; \
      compatible = "zmk,behavior-mod-morph"; \
      #binding-cells = <0>; \
      bindings = <&ac_##NAME##_l>, <&ac_##NAME##_u>; \
      mods = <(MOD_LSFT|MOD_RSFT)>; \
      keep-mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

/ {
    accents {
        ACCENTED_KEY(agae, "ä", "Ä", "äÄ", A, U)
        ACCENTED_KEY(aacu, "á", "Á", "áÁ", A, E)
        ACCENTED_KEY(atil, "ã", "Ã", "ãÃ", A, N)
        ACCENTED_KEY(acir, "â", "Â", "âÂ", A, I)
        ACCENTED_KEY(eacu, "é", "É", "éÉ", E, E)
        ACCENTED_KEY(ecir, "ê", "Ê", "êÊ", E, I)
        ACCENTED_KEY(iacu, "í", "Í", "íÍ", I, E)
        ACCENTED_KEY(oacu, "ó", "Ó", "óÓ", O, E)
        ACCENTED_KEY(otil, "õ", "Õ", "õÕ", O, N)
        ACCENTED_KEY(ocir, "ô", "Ô", "ôÔ", O, I)
        ACCENTED_KEY(uacu, "ú", "Ú", "úÚ", U, E)
    };
  combos {
    compatible = "zmk,combos";
#if defined (MIRYOKU_LAYERS_FLIP)
  #if defined (MIRYOKU_ALPHAS_AZERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_BEAKL15)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAKDHK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_DVORAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_HALMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_WORKMAN)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTZ)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
  #if defined (MIRYOKU_NAV_INVERTEDT)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_NAV_VI)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #endif
#else
  #if defined (MIRYOKU_ALPHAS_AZERTY)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_BEAKL15)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_COLEMAKDHK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_DVORAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_HALMAK)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_WORKMAN)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_ALPHAS_QWERTY)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, LEFTPINKIE, &kp Q)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, LEFTINNERINDEX, &kp T)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, RIGHTINNERINDEX, &kp Y)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, RIGHTPINKIE, &kp P)
  #elif defined (MIRYOKU_ALPHAS_QWERTZ)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, LEFTPINKIE, &de_ae)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, LEFTINNERINDEX, &kp B)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, RIGHTINNERINDEX, &kp J)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BASE, RIGHTPINKIE, &kp SQT)
  #endif
  #if defined (MIRYOKU_NAV_INVERTEDT)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #elif defined (MIRYOKU_NAV_VI)
    #error "Not implemented. See https://github.com/manna-harbour/miryoku/issues/56"
  #else
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NAV, LEFTPINKIE, &bootloader)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NAV, LEFTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NAV, RIGHTINNERINDEX, U_RDO)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NAV, RIGHTPINKIE, U_UND)

    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_MOUSE, LEFTPINKIE, &bootloader)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_MOUSE, LEFTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_MOUSE, RIGHTINNERINDEX, U_RDO)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_MOUSE, RIGHTPINKIE, U_UND)

    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_MEDIA, LEFTPINKIE, &bootloader)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_MEDIA, LEFTINNERINDEX, U_NA)
  #endif
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NUM, LEFTPINKIE, &kp LBKT)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NUM, LEFTINNERINDEX, &kp RBKT)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NUM, RIGHTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_NUM, RIGHTPINKIE, &bootloader)

    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_SYM, LEFTPINKIE, &kp LBRC)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_SYM, LEFTINNERINDEX, &kp RBRC)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_SYM, RIGHTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_SYM, RIGHTPINKIE, &bootloader)

    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_FUN, LEFTPINKIE, &kp F12)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_FUN, LEFTINNERINDEX, &kp PSCRN)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_FUN, RIGHTINNERINDEX, U_NA)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_FUN, RIGHTPINKIE, &bootloader)
#endif
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, LEFTPINKIE, U_UND)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, LEFTINNERINDEX, U_RDO)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, RIGHTINNERINDEX, U_RDO)
    MIRYOKU_KLUDGE_TOPROWCOMBOS_MACRO(U_BUTTON, RIGHTPINKIE, U_UND)
  };
};
